{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Date of birth of child</h1>
            <p class="lede"></p>
            <h2 class="bold-medium">What is the date of birth of the child?</h2>

            <form>
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">What is the date of birth of the child?</legend>
                    <div class="form-date">
                        <div class="form-group form-group-day">
                            <label for="dob-day">Day</label>
                            <input type="text" maxlength="2" name="children[day]" class="form-control" id="dob-day" max="31" min="1" value="">
                        </div>
                        <div class="form-group form-group-month">
                            <label for="dob-month">Month</label>
                            <input type="text" maxlength="2" name="children[month]" class="form-control" id="dob-month" max="12" min="1" value="">
                        </div>
                        <div class="form-group form-group-year">
                            <label for="dob-year">Year</label>
                            <input type="text" maxlength="4" name="children[year]" class="form-control" id="dob-year" min="1990" step="1" value="">
                        </div>
                    </div>
                </fieldset>
                <!-- <input class="button" type="submit" value="Continue"> -->
                <a href="check-your-details" class="button">Continue</a>
            </form>
        </div>
    </div>
</main>

{% endblock %}
