{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <h1 id="test"></h1>
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Is the child you're claiming for over 20?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form>
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Is the child you're claiming for over 20?</legend>
                    <label class="block-label" for="radio-inline-1">
                        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                        Yes
                    </label>
                    <label class="block-label" for="radio-inline-2">
                        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                        No
                    </label>
                </fieldset>
                <!-- <input class="button" type="submit" value="Continue"> -->
                <a href="prototype" class="button">Continue</a>
            </form>
        </div>
    </div>
</main>

{% endblock %}
