{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Would you like child benefit to be paid</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form>
                <fieldset class="form-group">
                    <legend class="visuallyhidden">Would you like child benefit to be paid</legend>
                    <!-- <span class="form-hint">Select all that apply.</span> -->
                    <label class="block-label" for="child-benefits-radio">
                        Weekly
                        <input id="child-benefits-radio" type="radio" name="radio-group" value="Child Benefits">
                    </label>
                    <label class="block-label" for="child-benefits-radio">
                        Monthly
                        <input id="child-benefits-radio" type="radio" name="radio-group" value="Child Benefits">
                    </label>
                </fieldset>
                <!-- <input class="button" type="submit" value="Continue"> -->
                <a href="check-your-details" class="button">Continue</a>
            </form>
        </div>
    </div>
</main>


{% endblock %}