{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Your child benefit for will be paid in to your bank account ending 5678 on Tuesday 24th may and then every Tuesday until John's 16th Birthday or until you tell us something has changed</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>
        </div>
    </div>
</main>

{% endblock %}
