{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Which country child was registered</h1>
            <p class="lede"></p>
            <h2 class="bold-medium">Which country was the child registered in?</h2>

            <form>
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Which country was the child registered in?</legend>
                    <label>
                        <input id="" type="text">
                    </label>
                </fieldset>
                <!-- <input class="button" type="submit" value="Continue"> -->
                <a href="check-your-details" class="button">Continue</a>
            </form>
        </div>
    </div>
</main>

{% endblock %}
