{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Which country child birth registered</h1>
            <p class="lede"></p>
            <h2 class="bold-medium">In which country did you register the birth of your child?</h2>

            <form>
                <fieldset class="form-group">
                    <legend class="visuallyhidden">>In which country did you register the birth of your child?</legend>
                    <!-- <span class="form-hint">Select all that apply.</span> -->
                    <label class="block-label" for="child-benefits-radio">
                        England
                        <input id="child-benefits-radio" type="radio" name="radio-group" value="Child Benefits">
                    </label>
                    <label class="block-label" for="child-benefits-radio">
                        Scotland
                        <input id="child-benefits-radio" type="radio" name="radio-group" value="Child Benefits">
                    </label>
                    <label class="block-label" for="child-benefits-radio">
                        Wales
                        <input id="child-benefits-radio" type="radio" name="radio-group" value="Child Benefits">
                    </label>
                    <label class="block-label" for="child-benefits-radio">
                        Northern Ireland
                        <input id="child-benefits-radio" type="radio" name="radio-group" value="Child Benefits">
                    </label>
                    <label class="block-label" for="child-benefits-radio">
                        Other
                        <input id="child-benefits-radio" type="radio" name="radio-group" value="Child Benefits">
                    </label>
                </fieldset>
                <!-- <input class="button" type="submit" value="Continue"> -->
                <a href="check-your-details" class="button">Continue</a>
            </form>
        </div>
    </div>
</main>


{% endblock %}

