{% extends "layout.html" %}

{% block page_title %}
  Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Child Benefit prototype</h1>

      <p>We see you have recently registered the birth of your child, are you here for that child?</p>
      <form class="form">
        <div class="form-group">
          <a class="button button-start" href="/new_child.html">Yes</a>
          <a class="button button-start" href="/prototype">No</a>
        </div>
      </form>

    </div>
  </div>
</main>

{% endblock %}
