{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Child related benefits</h1>

      <p class="lede">Based on what we currently know about you you are elegable for the following child related benefits:</p>
      <ul class="list list-bullet">
        <li>Child benefit</li>
      </ul>
      <p>Because you have a Universal Credits claim you can add your Child Benefit to this claim.</p>

    </div>
  </div>
</main>

{% endblock %}
