{% extends "layout.html" %}

{% block page_title %}
  Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Child Benefit prototype</h1>

      <p>Your Details:</p>
      
      <table>
        <thead>
          <th colspan="2">Address</th>
        </thead>
        <tbody>
          <tr>
            <td>Address Line 1</td>
            <td>1 Street</td>
          </tr>
          <tr>
            <td>Address Line 2</td>
            <td></td>
          </tr>
          <tr>
            <td>Address Line 3</td>
            <td></td>
          </tr>
          <tr>
            <td>Town/City</td>
            <td></td>
          </tr>
          <tr>
            <td>County</td>
            <td></td>
          </tr>
          <tr>
            <td>Postdode</td>
            <td></td>
          </tr>
        </tbody>
      </table>


      <h1 class="heading-medium">Are these details correct?</h1>
      <form>
        <fieldset class="inline">
          <legend class="visuallyhidden">Are these details correct?</legend>
          <label class="block-label" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
            Yes
          </label>
          <label class="block-label" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
           No
          </label>
        </fieldset>
      </form>
    </div>
  </div>
</main>

{% endblock %}
