{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}



 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Are you planning to be away from the UK for more than 12 weeks?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline">
                    <legend class="visuallyhidden">Are you planning to be away from the UK for more than 12 weeks?</legend>
                    <label class="block-label" for="always-uk1">
                        Yes
                        <input id="away-12-weeks1" type="radio" name="away-12-weeks" value="yes">
                    </label>
                    <label class="block-label" for="always-uk2">
                      No
                      <input id="away-12-weeks2" type="radio" name="away-12-weeks" value="no">
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
