{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Name of the bank account?</h1>
            <div class="panel panel-border-wide">This is the name that your bank account is in.</div>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline form-group">
                    <!-- <legend class="visuallyhidden">What's the name of the child?</legend> -->
                    <div class="form-group">
                        <!-- <label class="form-label">Name as it appears on the bank account</label> -->
                        <input type="text" name="bankAccountName" class="form-control form-control--block"/>
                    </div>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
