{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}



 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">What's your name as it appears on your bank card?</h1>
            <!-- <div class="panel panel-border-wide">This is the name that your bank account is in, not the name of your bank.</div> -->

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline form-group">
                    <!-- <legend class="visuallyhidden">What's the name of the child?</legend> -->
                    <div class="form-group">
                        <label class="form-label">Bank account name</label>
                        <input type="text" name="bankAccountName" class="form-control form-control--block"/>
                    </div>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
