{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

 

 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Tell us your account number and sort code</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Account number</legend>
                    <div class="form-group">
                        <label class="form-label">Account number</label>
                        <input type="text" name="accountNumber" class="form-control form-control--block"/>
                    </div>
                    <div class="form-group">
                      <legend class="visuallyhidden">Sort code</legend>
                        <label class="form-label">Sort code</label>
                        <input type="text" name='sortCode' class="form-control form-control--block input--medium"/>
                    </div>
                </fieldset>
              <input class="button" type="submit" value="Continue">
            </form>
        </div>
    </div>
</main>

{% endblock %}
