{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}



 {% block content_with_banner %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">What's the address the bank uses for your account?</h1>
      <p class="lede"></p>
      <h2 class="bold-medium"></h2>
      <!-- <div class="panel panel-border-wide">This is the address that the bank uses for your account, not the bank's address.</div> -->

      <form method="post" action="{{form_action}}" class="form">
        <div class="form-group">
          <label class="form-label" for="addressline1">House number or name</label>
          <input class="form-control" id="addressline1" name="addressLine1" type="text" value="" tabindex="1">
        </div>
        <div class="form-group">
          <label class="form-label" for="addressline2">Building and street</label>
          <input class="form-control" id="addressline2" name="addressLine2" type="text" value="">
        </div>
        <div class="form-group">
          <label class="form-label" for="town">Town or city</label>
          <input class="form-control" id="town" name="town" type="text" value="">
        </div>
        <div class="form-group">
          <label class="form-label" for="county">County (optional)</label>
          <input class="form-control" id="county" name="county" type="text" value="">
        </div>
        <div class="form-group">
          <label class="form-label" for="postcode">Postcode</label>
          <input class="form-control" id="postcode" name="postcode" type="text" style="width: 150px" value="">
        </div>
        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
