{% extends "layout.html" %}

{% block page_title %}
Child Benefit - GOV.UK
{% endblock %}

 

 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">There is a problem with your claim</h1>
            <p class="lede">Only the person logged in claim child benefit.</p>
            <h2 class="bold-medium"></h2>
            <a href="check-your-details" class="button">Log Out</a>
        </div>
    </div>
</main>

{% endblock %}
