{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">You are not allowed to make a claim for child benefit unless you are the person who will be receiving the benefit</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>
            <a href="check-your-details" class="button">Log Out</a>
        </div>
    </div>
</main>

{% endblock %}
