{% extends "layout.html" %}

{% block page_title %}
Child Benefit - GOV.UK
{% endblock %}

 

 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">What is the child benefit reference number?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form>
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">What is the child benefit reference number?</legend>
                    <div class="form-group">
                        <label class="form-label">
                            CHB
                            <input type="text"/>
                            <input class="input--xsmall" type="number" pattern="[0-9]*" min="0" max="12" name="cbNumber"/>
                        </label>
                    </div>
                </fieldset>
                <!-- <input class="button" type="submit" value="Continue"> -->
                <a href="check-your-details" class="button">Continue</a>
            </form>
        </div>
    </div>
</main>

{% endblock %}
