{% extends "layout.html" %}

{% block page_title %}
Financial help when you have a child
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Before you submit your claim</h1>
      <!-- <h2 class="heading-medium">Before you start</h2> -->
      <p class="lede">There are cirtan circumstances that will effect your claim. </p>
      <p>You'll need to tell the Child Benefit office if any of the following things happen.</p>
      <ul class="list list-bullet">
        <li>the child you are claiming for stops living with you more than 50% of the time</li>
        <li>your bank account details change</li>
        <li>You start to earn more than £50,099</li>
        <li>you intend to go abroad for more than 8 weeks</li>
        <li>you have a baby, or a child comes to live with you</li>
        <li>your immigration status changes or you lose the right to reside in the UK</li>
        <li>you move in with a new partner or remarry</li>
      </ul>
      <button type="submit" class="button">Continue</button>
    </div>
  </div>
</main>

{% endblock %}
