{% extends "layout.html" %}

{% block page_title %}
Financial help when you have a child
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Before you submit your claim</h1>
      <!-- <h2 class="heading-medium">Before you start</h2> -->
      <p class="lede">There are cirtan circumstances that will effect your claim. </p>
      <p>You'll need to tell the Child Benefit office if any of the following things happen.</p>
      <ul class="list list-bullet">
        <li>The child you are claiming for stops living with you more than 50% of the time</li>
        <li>Banks details (account number and sort code)</li>
        <li>address the account is registered to</li>
        <li>You change address, including moving away from the UK</li>
        <li>You start to earn more than £50,099</li>
        <li>The child you are claiming for stops living with you for more than 50% of the time.</li>
        <li>your bank account, name or address changes</li>
        <li>a relationship ends</li>
        <li>you start a new relationship, eg you move in with a new partner or remarry</li>
        <li>the child’s parent has died</li>
        <li>you intend to go abroad for more than 8 weeks</li>
        <li>you or your partner intend to move abroad permanently or for more than a year</li>
        <li>you move to or from Northern Ireland</li>
        <li>you have a baby, or a child comes to live with you</li>
        <li>payments or contributions for a child who doesn’t live with you stop or change</li>
        <li>you’re paid to look after a child by a local council or similar</li>
        <li>your immigration status changes</li>
        <li>you lose the right to reside in the UK</li>
        <li>you get a prison sentence of more than 8 weeks</li>
      </ul>
      <p><a class="button button-start" href="http://2fa:auth@twofactor-prototype.herokuapp.com/01_govuk-login_sa?url={{redirect}}/16-or-over&failUrl={{redirect}}/auth_fail">Start</a></p>
    </div>
  </div>
</main>

{% endblock %}
