{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Check your details </h1>
      <p class="lede">Some changes to your circumstances can affect your benefits. Please let us know if anything has changed.</p>

      <h2 class="heading-large">Personal details</h2>

      <h3 class="heading-medium">Address:</h3>
      <p>
        <span>1 Street</span><br>
        <span>Newcaslte</span><br>
        <span>Tyne &amp; Wear</span><br>
        <span>NE1 1AA</span>
      </p>

      <h3 class="heading-medium">Martial Status</h3>
      <p>Single</p>

      <h2 class="heading-large">Income</h2>
      <table>
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th class="numeric" scope="col">Amount per month</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Maternity pay from H. Samuel</td>
            <td class="numeric">£2,000</td>
          </tr>
          <tr>
            <td>Child benefit for Britney</td>
            <td class="numeric">£89.70</td>
          </tr>
          <tr>
            <td>Universal credit</td>
            <td class="numeric">£200.00</td>
          </tr>
          <tr>
            <td>Total</td>
            <td class="numeric">£2289.70</td>
          </tr>
        </tbody>
      </table>


      <h2 class="heading-large">Are these details correct?</h2>
      <form>
        <fieldset class="inline">
          <legend class="visuallyhidden">Are these details correct?</legend>
          <label class="block-label" for="radio-inline-1">
            <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
            Yes
          </label>
          <label class="block-label" for="radio-inline-2">
            <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
            No
          </label>
        </fieldset>
        <!-- <input class="button" type="submit" value="Continue"> -->
        <a href="prototype" class="button">Continue</a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
