{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}



 {% block content_with_banner %}

  <h1 class="heading-large">
    Check your answers before sending your Child Benefit claim
  </h1>

  <table class="check-your-answers">
    <tbody>
      <tr>
        <td>
        Do you earn more than £50,099 per year?
        </td>
        <td class="answer">
        {{ over50K }}
        </td>
        <td>
          <a href="/earnings-per-year">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Whatʼs your marital status?
        </td>
        <td class="answer">
          {{ relationshipStatus }}
        </td>
        <td>
          <a href="/relationship-status">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Are you already claiming for another child?
        </td>
        <td class="answer">
          {{ claimingForAnother }}
        </td>
        <td>
          <a href="/current-claim-2">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Whatʼs the childʼs name?
        </td>
        <td class="answer">
          {{ nameOfChild }}
        </td>
        <td>
          <a href="/name-of-child">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          {{ nameOfChild }}ʼs date of birth?
        </td>
        <td class="answer">
          {{ childDob }}
        </td>
        <td>
          <a href="/date-of-birth">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          {{ nameOfChild }}ʼs gender?
        </td>
        <td class="answer">
          {{ childGender }}
        </td>
        <td>
          <a href="/child-gender">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Does {{ nameOfChild }} live with you?
        </td>
        <td class="answer">
          {{ childLiveWith }}
        </td>
        <td>
          <a href="/living-with-child">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Have you lived in one of these places for the last 3 months or longer?
        </td>
        <td class="answer">
          {{ ukOrRoi }}
        </td>
        <td>
          <a href="/always-in-uk">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Are you a British citizen?
        </td>
        <td class="answer">
          {{ britishCitizen }}
        </td>
        <td>
          <a href="/british-citizen">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Whatʼs your name?
        </td>
        <td class="answer">
          {{ claimantName }}
        </td>
        <td>
          <a href="/claimant-name">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Whatʼs your Address?
        </td>
        <td class="answer">
          {{ residentialAddressLine1 }} {{ residentialAddressLine2 }} <br />
          {{ residentialTown }} <br />
          {{ residentialCounty }} <br />
          {{ residentialPostcode }}
        </td>
        <td>
          <a href="/residential-address">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Whatʼs your National Insurance number?
        </td>
        <td class="answer">
          {{ yourNino }}
        </td>
        <td>
          <a href="/national-insurance">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Whatʼs your name as it appears on your bank card?
        </td>
        <td class="answer">
          {{ bankAccName }}
        </td>
        <td>
          <a href="/bank-account-name">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Whatʼs your account number and sort code?
        </td>
        <td class="answer">
          Account number: <br />{{ accountNo }}<br />
          Sort code: <br />{{ sortCode }}
        </td>
        <td>
          <a href="/bank-details">Change</a>
        </td>
      </tr>
      <tr>
        <td>
          Whatʼs the address the bank uses for your account?
        </td>
        <td class="answer">
          {{ addressLine1 }} {{ addressLine2 }} <br />
          {{ town }} <br />
          {{ county }} <br />
          {{ postcode }}
        <td>
          <a href="/bank-account-address">Change</a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Confirm your claim</h2>

  <p class="text">
    By sending this claim you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>

  <div class="form-group">
    <a href="/confirmation-page" class="button">Submit my claim</a>
  </div>

</main>

{% endblock %}
