{% extends "layout.html" %}
{% block page_title %}
  Confirmation page example
{% endblock %}

   {% block content_with_banner %}
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="bold-large">Weʼve received your Child Benefit claim</h1>
        <p>
          Your reference number is <br>
          <strong class="heading-medium">HDJ2123F</strong>
        </p>
      </div>
      <!-- <p>We have sent you a confirmation email.</p> -->
      <h2 class="heading-medium">What happens next</h2>
      <p>Weʼve sent your application to the Child Benefit Office.</p>
      <p>A Child Benefit caseworker will validate your claim. This normally takes 7 to 14 days.</p>
      <h3 class="heading-small">If you are eligible</h3>
      <p>They will pay you and write to you at the same time. Youʼll normally receive payment before you receive the letter. Youʼll receive payment every 4 weeks into the bank account youʼve provided.</p>
      <h3 class="heading-small">If you are not eligible</h3>
      <p>The caseworker will write to you and explain why. You can <a href="https://www.gov.uk/government/publications/child-benefit-and-guardians-allowance-appeal-form">appeal</a> this decision if you donʼt think itʼs correct.</p>
      <h2 class="heading-medium">Changes you need to report</h2>
      <div class="content-block">
        <div class="inner">
          <div class="summary">
            <p>Tell the Child Benefit Office about any changes to your family life. If you don’t, you may not get all the money you’re entitled to, or you may be overpaid and have to pay money back.</p>
          </div>
            <h3 class="heading-small">If your childʼs circumstances change</h3>
          <p>Child Benefit stops on 31 August on or after your child’s 16th birthday if they leave <a href="/child-benefit-16-19">approved</a> education or training.</p>
          <p>Tell the Child Benefit Office if your child: </p>
          <ul>
            <li>
              <a href="/government/publications/child-benefit-child-continuing-in-approved-education-or-training-ch297">stays in education or training</a> </li>
              <li>later <a href="/government/publications/child-benefit-child-left-approved-education-or-training-ch459">leaves education or training</a> </li>
            </ul>
            <p>Tell the Child Benefit Office straight away if your child:</p>
            <ul class="list list-bullet">
              <li>
                <a href="/government/publications/child-benefit-child-left-approved-education-or-training-ch459">starts paid work</a> for 24 hours a week or more</li>
                <li>will <a href="/government/publications/child-benefit-general-enquiry">live away from you</a> for either 8 weeks in a row or more than 56 days in a 16-week period</li>
                <li>will go <a href="/government/publications/child-benefit-general-enquiry">abroad permanently</a> or for more than 12 weeks</li>
                <li>moves to or from <a href="/government/publications/child-benefit-general-enquiry">Northern Ireland</a>
              </li>
              <li>will be in <a href="/child-benefit-for-children-in-hospital-or-care">hospital or residential care</a> for more than 12 weeks </li>
              <li>
                <a href="/child-benefit-child-parent-dies/if-a-child-dies">dies</a>       </li>
                <li>
                  <a href="/government/publications/child-benefit-general-enquiry">changes their name</a>    </li>
                  <li>
                    <a href="/government/publications/child-benefit-general-enquiry">goes missing</a>   </li>
                    <li>
                      <a href="/government/publications/child-benefit-change-of-family-circumstances">gets married</a>, forms a <a href="/government/publications/child-benefit-change-of-family-circumstances">civil partnership</a> or starts to <a href="/government/publications/child-benefit-general-enquiry">live with a partner</a>
                    </li>
                    <li>starts <a href="/government/publications/child-benefit-general-enquiry">getting certain benefits</a> - Income Support, Jobseeker’s Allowance, Universal Credit, Incapacity Benefit, tax credits or Employment and Support Allowance</li>
                    <li>
                      <a href="/government/publications/child-benefit-general-enquiry">goes to prison</a> for more than 8 weeks</li>
                    </ul>
                    <h3 class="heading-small">If your familyʼs circumstances change</h3>
                    <div role="note" aria-label="Information" class="application-notice info-notice">
                      <p>Your benefits (eg <a href="/changes-affect-tax-credits">tax credits</a>) may be affected if your family circumstances change.</p>
                    </div>
                    <p>You must tell the Child Benefit Office straight away if: </p>
                    <ul class="list list-bullet">
                      <li>your <a href="/government/publications/child-benefit-change-of-family-circumstances">bank account, name or address</a> changes</li>
                      <li><a href="/government/publications/child-benefit-change-of-family-circumstances">a relationship ends</a></li>
                      <li>you <a href="/government/publications/child-benefit-change-of-family-circumstances">start a new relationship</a>, eg you move in with a new partner or remarry</li>
                      <li>the <a href="/child-benefit-child-parent-dies/if-one-or-both-parents-die">child’s parent has died</a>  </li>
                      <li>you intend to <a href="/government/publications/child-benefit-change-of-family-circumstances">go abroad for more than 8 weeks</a> </li>
                      <li>you or your partner intend to <a href="/government/publications/child-benefit-change-of-family-circumstances">move abroad permanently</a> or for more than a year</li>
                      <li>you move to or from <a href="/government/publications/child-benefit-general-enquiry">Northern Ireland</a> </li>
                      <li>you <a href="/government/publications/child-benefit-claim-form-ch2">have a baby, or a child comes to live with you</a>
                    </li>
                    <li>payments or contributions for a child who doesn’t live with you <a href="/government/publications/child-benefit-general-enquiry">stop or change</a>
                  </li>
                  <li>you’re paid to <a href="/government/publications/child-benefit-general-enquiry">look after a child</a> by a local council or similar </li>
                  <li>your <a href="/government/publications/child-benefit-general-enquiry">immigration status</a> changes</li>
                  <li>you lose the <a href="/government/publications/child-benefit-general-enquiry">right to reside</a> in the UK</li>
                  <li>you get a <a href="/government/publications/child-benefit-general-enquiry">prison sentence</a> of more than 8 weeks</li>
                </ul>
                <p>Tell the Child Benefit Office of <a href="/government/publications/child-benefit-general-enquiry">any other changes</a> to your family life. Include the date of the change.</p>
                <h3 class="heading-small">Other ways to tell us if things change</h3>
                <p>You can also <a href="/contact/hm-revenue-customs/child-benefit">call or write to the Child Benefit Office</a>.</p>
                  <h2 class="heading-medium">The Child Benefit tax charge</h2>
                <p>Changes in circumstances may mean you may have to pay the <a href="/child-benefit-tax-charge/change-of-circumstances">Child Benefit tax charge</a>. The charge affects you if your income (or your partner’s) is £50,000 or more.</p>
                <div role="note" aria-label="Information" class="application-notice info-notice">
                  <p>You must still report changes even if you’ve stopped getting Child Benefit because of the Child Benefit tax charge.</p>
                </div>
              </div>
            </div>
            <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>
          </div>
        </div>
        </main>
      {% endblock %}
