{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Do you contribute towards (John)'s cost of living?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Do you contribute towards (John)'s cost of living?</legend>
                    <label class="block-label" for="radio-contribute-1">
                        <input id="radio-contribute-1" type="radio" name="contribute" value="yes">
                        Yes
                    </label>
                    <label class="block-label" for="radio-contribute-2">
                        <input id="radio-contribute-2" type="radio" name="contribute" value="no">
                        No
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
                <!--<input class="button" type="submit" value="Continue">
                <a href="check-your-details" class="button">Continue</a>-->
            </form>
        </div>
    </div>
</main>

{% endblock %}
