{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Do you contribute towards (John Smith)'s cost of living?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form>
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Do you contribute towards the cost of living for (John Smith)?</legend>
                    <label class="block-label" for="radio-inline-1">
                        <input id="radio-inline-1" type="radio" name="contribute" value="Yes">
                        Yes
                    </label>
                    <label class="block-label" for="radio-inline-2">
                        <input id="radio-inline-2" type="radio" name="contribute" value="No">
                        No
                    </label>
                </fieldset>
                <!-- <input class="button" type="submit" value="Continue"> -->
                <a href="check-your-details" class="button">Continue</a>
            </form>
        </div>
    </div>
</main>

{% endblock %}
