{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}



 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Whatʼs the Child Benefit reference number of your existing claim?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action={{form_action}} method="post" class="form">
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Whatʼs the Child Benefit reference number of your existing claim?</legend>
                    <div class="form-group">
                        <label class="form-label">Child Benefit reference number</label>
                        <input type="text" name="childBenefitReferenceNumber" class="form-control form-control--block"/>
                    </div>
                </fieldset>
                <input class="button" type="submit" value="Continue">
            </form>
        </div>
    </div>
</main>

{% endblock %}
