{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Do you earn more than £50,009 per year?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Do you earn more than £50,009 per year?</legend>
                    <label class="block-label" for="earningsPerYear">
                        <input id="earningsPerYear" type="radio" name="earningsPerYear" value="yes">
                        Yes
                    </label>
                    <label class="block-label" for="earningsPerYear">
                        <input id="earningsPerYear" type="radio" name="earningsPerYear" value="no">
                        No
                    </label>
                </fieldset>
                <input class="button" type="submit" value="Continue">
            </form>
        </div>
    </div>
</main>

{% endblock %}
