{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Your Child Benefit</h1>
            <p class="lede">Based on the answers you have given us we forcast the ammount of child benefit you are likley to recieve to be £1000 per year.</p>
            <p>Because we can only pay you the full ammount for child benefit which is £2000 per year you will have to do self assessment as this is the only way we can get the money back frou you.</p>
            <p>We know, stupid right!</p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <!-- <fieldset class="form-group inline">
                    <legend class="visuallyhidden">Income calculator</legend>
                    <label class="block-label" for="child-benefits-radio1">
                        Yes
                        <input id="child-benefits-radio1" type="radio" name="gender" value="male">
                    </label>
                    <label class="block-label" for="child-benefits-radio2">
                        No
                        <input id="child-benefits-radio2" type="radio" name="gender" value="female">
                    </label> -->
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
