{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}



 {% block content_with_banner %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Your Child Benefit</h1>
      <p class="lede">Based on your adjusted net income of £{{ annualIncome }}, you may be eligible to receive £{{ yearlyPaymentReceived }} of Child Benefit per year.
        This works out as £{{ paymentReceived }} per week.</p>
      <p>We will pay you the full amount of £1,076.40 per year. You will have to pay a High Income Child Benefit Tax Charge of around £{{ yearlyPaymentReceived }} per year.</p>
      <p>To pay this tax charge, you will have to register separately for Self Assessment.</p>
      <!--<p>We know, stupid right!</p>-->
      <h2 class="bold-medium">Would you like to continue with your claim for Child Benefit?</h2>
      <p>

      </p>

      <form action="{{form_action}}" method="post" class="form">
          <fieldset class="inline form-group">
              <!-- <legend class="visuallyhidden">Are you a British citizen?</legend> -->
              <label class="block-label" for="hicbcChoiceYes">
                  <input id="hicbcChoiceYes" type="radio" name="hicbcChoice" value="yes">
                  Yes
              </label>
              <label class="block-label" for="hicbcChoiceNo">
                  <input id="hicbcChoiceNo" type="radio" name="hicbcChoice" value="no">
                  No
              </label>
          </fieldset>
          <div class="form-group">
            <input type="submit" id="submit" class="button" value="Continue">
          </div>
      </form>
    </div>
  </div>
</main>


{% endblock %}
