{% extends "layout.html" %}

{% block page_title %}
Child Benefit - GOV.UK
{% endblock %}



 {% block content_with_banner %}
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Whatʼs your adjusted net income?</h1>
      <div class="panel panel-border-wide">
        <p>This is your total taxable income, before any Personal Allowances and less certain tax reliefs, for example:</p>
        <ul class="list list-bullet">
          <li>donations made to charities through Gift Aid</li>
          <li>pension contributions paid gross (before tax relief)</li>
          <li>pension contributions where your pension provider has already given you tax relief at the basic rate</li>
        </ul>
      </div>
      <form action="{{form_action}}" method="post" class="form">
        <fieldset class="inline form-group">
          <legend class="visuallyhidden">What is your Adjusted net income?</legend>
          <div class="form-group">
            <label class="form-label">Adjusted net income</label>
            <input type="text" name="annualIncome" class="form-control form-control--block"/>
          </div>
        </fieldset>
        <div class="form-group">
          <input type="submit" id="submit" class="button" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>


{% endblock %}
