{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Income calculator</h1>
            <p class="lede">This page will be used to collect income information from users so that we can help them decide if they would like to claim child benefit and do self assessment.</p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <!-- <fieldset class="form-group inline">
                    <legend class="visuallyhidden">Income calculator</legend>
                    <label class="block-label" for="child-benefits-radio1">
                        Yes
                        <input id="child-benefits-radio1" type="radio" name="gender" value="male">
                    </label>
                    <label class="block-label" for="child-benefits-radio2">
                        No
                        <input id="child-benefits-radio2" type="radio" name="gender" value="female">
                    </label> -->
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
