{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Apply for Child related benefits</h1>
      <p class="lede">If you have recently had a baby there are certain benefits that you may be elegible for. </p>
      <p>They are:</p>

      <ul class="list list-bullet">
        <li>Child Benefit</li>
        <li>Child Tax Credits</li>
      </ul>

      <p>If you are recieving Universal Credit there are child related sections of that.</p>

      <h3 class="heading-medium">Sign in to check your elegbility</h3>
      <p><a class="button button-start" href="http://2fa:auth@twofactor-prototype.herokuapp.com/01_govuk-login_sa?url={{redirect}}/auth_success&failUrl={{redirect}}/auth_fail">Sign in</a></p>
      <p>If you don't have an account you can <a href="http://2fa:auth@twofactor-prototype.herokuapp.com/gg_registration/select_service?url={{redirect}}/auth_success&failUrl={{redirect}}/auth_fail">create an account</a>.</p>
      <h4 class="heading-small">This is what you need to create an account</h4>
      <ul class="list list-bullet">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
      </ul>

    </div>
  </div>
</main>

{% endblock %}
