{% extends "layout.html" %}

{% block page_title %}
Financial help when you have a child
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Claim Child Benefit</h1>
      <p class="lede">You can claim Child Benefit if: </p>
      <ul class="list list-bullet">
        <li>you are responsible for a child</li>
        <li>the child is under 16 or between 16 and 20 and in full-time, non-advanced education</li>
        <li>you have the right to reside in the UK</li>
        <li>you earn less than £50,000 per year</li>
        <!-- <li>If you earn over £50,099 per year you may have to complete self assessment if you want to be paid Child Benefit </li> -->
      </ul>

      <!-- <p>To claim Child benefit online you need to login with you're Government Gateway ID</p> -->
      <h3 class="heading-medium">To claim Child benefit online you need to login with your Government Gateway ID</h3>
      <p><a class="button button-start verify-start" href="http://2fa:auth@twofactor-prototype.herokuapp.com/01_govuk-login_sa?url={{redirect}}/16-or-over&failUrl={{redirect}}/auth_fail">Sign in</a></p>
      <p>If you don't have a Government Gateway account you can <a href="http://2fa:auth@twofactor-prototype.herokuapp.com/gg_registration/select_service?url={{redirect}}/16-or-over&failUrl={{redirect}}/auth_fail">create one</a>.</p>
      <!-- <h4 class="heading-small">You need a way to prove your identity. This can be one of the following:</h4>
      <ul class="list list-bullet">
        <li>a UK passport</li>
        <li>details from any of your 3 most recent payslips</li>
        <li>the last 4 digits of the account that your tax credits or pension is paid into</li>
        <li>details from your P60</li>
      </ul>
      <p>You will also need your National Insurance Number</p> -->

    </div>
  </div>
</main>

{% endblock %}
