{% extends "layout.html" %}

{% block page_title %}
Financhal help when you have a child
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Financial help if you have children</h1>
      <p class="lede">If you have a child there are certain benefits you may be able to claim.</p>
      <p>These benefits are:</p>

      <ul class="list list-bullet">
        <li>Child Benefit</li>
        <li>Child Tax Credits</li>
        <li>Universal Credit</li>
      </ul>

      <!-- <p>If you are recieving Universal Credit there are child related sections of that.</p> -->

      <h3 class="heading-medium">Sign in with Government Gateway to check if you're eligible</h3>
      <p><a class="button button-start" href="http://2fa:auth@twofactor-prototype.herokuapp.com/01_govuk-login_sa?url={{redirect}}/auth_success&failUrl={{redirect}}/auth_fail">Sign in</a></p>
      <p>If you don't have a Government Gateway account you can <a href="http://2fa:auth@twofactor-prototype.herokuapp.com/gg_registration/select_service?url={{redirect}}/auth_success&failUrl={{redirect}}/auth_fail">create one</a>.</p>
      <h4 class="heading-small">You need a way to prove your identity. This can be one of the following:</h4>
      <ul class="list list-bullet">
        <li>a UK passport</li>
        <li>details from any of your 3 most recent payslips</li>
        <li>the last 4 digits of the account that your tax credits or pension is paid into</li>
        <li>details from your P60</li>
      </ul>
      <p>You will also need your National Insurance Number</p>

    </div>
  </div>
</main>

{% endblock %}
