{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Does (John) live with you over 50% of the time?</h1>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Does (John Smith) live with you over 50% of the time?</legend>
                    <label class="block-label" for="radio-inline-1">
                        <input id="radio-inline-1" type="radio" name="liveWithChild" value="yes">
                        Yes
                    </label>
                    <label class="block-label" for="radio-inline-2">
                        <input id="radio-inline-2" type="radio" name="liveWithChild" value="no">
                        No
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
