{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

 {% block content_with_banner %}

<script type="text/javascript">
$(document).ready(function(){
  $(".toggle").click(function() {
    //$(".error-message").toggle();
    $("#error-toggle").toggleClass("error");
    $("#error-toggle2").toggleClass("error");
    $("#error-message-toggle").toggleClass("error-message");
    $("#error-message-toggle2").toggleClass("error-message");
  });
});
</script>

    <div class="grid-row">

        <div class="column-two-thirds">

<button class="toggle">Show errors</button>


            <h1 class="heading-xlarge">What's the child's name?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>


            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">What's the child's name?</legend>
                    <div  class="form-group" id="error-toggle">
                        <label class="form-label">First name</label>
                        <span class="error-message" id="error-message-toggle">
                          <p style="color:rgb(177,14,30);">You must enter a name</p>
                        </span>
                        <input type="text" name="childFirstName" class="form-control form-control--block"/>
                    </div>


                    <div  class="form-group" id="error-toggle2">
                        <label class="form-label">Last name</label>
                        <span class="error-message" id="error-message-toggle2">
                          <p style="color:rgb(177,14,30);">You must enter a name</p>
                        </span>
                        <input type="text" name="childLastName" class="form-control form-control--block"  />
                    </div>


                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
