{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Do you or your partner earn over £50,099 individually?</h1>
            <p class="lede">We are only interested in the income of the higher earner.</p>
            <p>For example: If you earn 25K and your partner earns 35K you should put down 35K.</p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="form-group inline">
                    <legend class="visuallyhidden">Do you or your partner earn over £50,099 individually?</legend>
                    <!-- <span class="form-hint">Select all that apply.</span> -->
                    <label class="block-label" for="child-benefits-radio1">
                        Yes
                        <input id="child-benefits-radio1" type="radio" name="partnerOrYouEarnings" value="yes">
                    </label>
                    <label class="block-label" for="child-benefits-radio2">
                        No
                        <input id="child-benefits-radio2" type="radio" name="partnerOrYouEarnings" value="no">
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
