{% extends "layout.html" %}

{% block page_title %}
Child Benefit - GOV.UK
{% endblock %}



 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Does your partner earn an income of over £50,099 a year?</h1>
            
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="form-group inline">
                    <legend class="visuallyhidden">Does your partner earn over £50,099 a year?</legend>
                    <!-- <span class="form-hint">Select all that apply.</span> -->
                    <label class="block-label" for="child-benefits-radio1">
                        Yes
                        <input id="child-benefits-radio1" type="radio" name="partnerOrYouEarnings" value="yes">
                    </label>
                    <label class="block-label" for="child-benefits-radio2">
                        No
                        <input id="child-benefits-radio2" type="radio" name="partnerOrYouEarnings" value="no">
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
