{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Would you like child benefit to be paid</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="form-group">
                    <legend class="visuallyhidden">Would you like child benefit to be paid</legend>
                    <!-- <span class="form-hint">Select all that apply.</span> -->
                    <label class="block-label" for="child-benefits-radio1">
                        Weekly
                        <input id="child-benefits-radio1" type="radio" name="pay-preference" value="weekly">
                    </label>
                    <label class="block-label" for="child-benefits-radio2">
                        Every 4 weeks
                        <input id="child-benefits-radio2" type="radio" name="pay-preference" value="every4weeks">
                    </label>
                    <label class="block-label" for="child-benefits-radio3">
                        Monthly
                        <input id="child-benefits-radio3" type="radio" name="pay-preference" value="monthly">
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
