{% extends "layout.html" %}

{% block page_title %}
Financial help when you have a child
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">

    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Getting Child Benefit</h1>
      <p class="lede">For us to pay you Child Benefit, you need to tell us:</p>
      <ul class="list list-bullet">
        <li>the name of your bank account</li>
        <li>your account number and sort code</li>
        <li>the address where your account is registered</li>
      </ul>

      <p><a class="button" href="/bank-account-name">Continue</a></p>

    </div>
  </div>
</main>

{% endblock %}
