{% extends "layout.html" %}

{% block page_title %}
Child Benefit - GOV.UK
{% endblock %}

 

 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-xlarge">Your claim for Child Benefit has been successful</h1>
          <p class="lede">You will be paid £20.70 per week. </p>
          <p>This payment will be paid into your bank account ending 5678 on Tuesday 24 May 2016. Payments will continue every Tuesday until {{ name }}'s 16th birthday, or until you tell us something has changed.</p>
          <p>You need to tell us if:</p>
          <ul class="list list-bullet">
            <li>You or your partner's income changes</li>
            <li>You leave the UK</li>
            <li>Your child no longer lives with you permanently</li>
            <li>Your child leaves full-time education</li>
          </ul>
        </div>
    </div>
</main>

{% endblock %}
