{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-xlarge">Your claim for Child benefit has been successful</h1>
          <p class="lede">Your child benefit for will be paid in to your bank account ending 5678 on Tuesday 24th may and then every Tuesday until {{ name }}'s 16th Birthday or until you tell us something has changed</p>
        </div>
    </div>
</main>

{% endblock %}
