{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}



 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Has anyone ever claimed child benefit for this child?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form>
                <fieldset class="inline form-group">
                    <legend class="visuallyhidden">Has anyone ever claimed child benefit for this child?</legend>
                    <label class="block-label" for="radio-inline-1">
                        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
                        Yes
                    </label>
                    <label class="block-label" for="radio-inline-2">
                        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
                        No
                    </label>
                </fieldset>
                <!-- <input class="button" type="submit" value="Continue"> -->
                <a href="check-your-details" class="button">Continue</a>
            </form>
        </div>
    </div>
</main>

{% endblock %}
