{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

 

 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Are you going to be away from the UK for one of the following reasons.</h1>
            <p class="lede">Are you going to be away from the UK for one of the following reasons.</p>
            <ul class="list list-bullet">
              <li>Medical</li>
              <li>Bereavement</li>
            </ul>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="inline">
                    <legend class="visuallyhidden">Are you planning to be away from the UK for more than 12 weeks?</legend>
                    <label class="block-label" for="reasons-for-leave1">
                        Yes
                        <input id="reasons-for-leave1" type="radio" name="reasons-for-leave" value="yes">
                    </label>
                    <label class="block-label" for="reasons-for-leave2">
                      No  
                      <input id="reasons-for-leave2" type="radio" name="reasons-for-leave" value="no">
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>

{% endblock %}
