{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}



 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">What's your marital status?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="form-group">
                    <legend class="visuallyhidden">What's your marital status?</legend>

                    <!-- <span class="form-hint">Select all that apply.</span> -->
                    <label class="block-label" for="child-benefits-radio1">
                      Single
                      <input id="child-benefits-radio1" type="radio" name="relationship-status" value="single">
                    </label>
                    <label class="block-label" for="child-benefits-radio2">
                        Married
                        <input id="child-benefits-radio2" type="radio" name="relationship-status" value="married">
                    </label>
                    <label class="block-label" for="child-benefits-radio3">
                        Civil partnership
                        <input id="child-benefits-radio3" type="radio" name="relationship-status" value="civilPartnership">
                    </label>
                    <label class="block-label" for="child-benefits-radio4">
                        Living with a partner
                        <input id="child-benefits-radio4" type="radio" name="relationship-status" value="livingwithpartner">
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
