{% extends "layout.html" %}

{% block page_title %}
Child Benefit - GOV.UK
{% endblock %}



 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Do you have the right to reside in the UK?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <p>
              These will be the pages that check to see whether the user has the right to reside within in the UK.
            </p>
        </div>
    </div>
</main>

{% endblock %}
