{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Child Benefit prototype</h1>
      <p class="lede">This is a prototype. It is here for the team to play with ideas and test them to see how they work.</p>
      <p>It may not always work!</p>

      <h2 class="heading-large">Elevator pitch</h2>
      <p>For (target customer) who has (customer need), (product name) is a (market category) that (one key benefit). Unlike (competition), the product (unique differentiator).</p>

      <h2 class="heading-large">Registration</h2>
      <p>Do we need some content here to explain what this is for?</p>

      </div>
      <div class="column-half">
        <h3 class="heading-medium">Sign in</h3>
        <p>For a user who already has a Government Gateway account they just need to sign in.</p>
        <p><a class="button button-start" href="http://2fa:auth@twofactor-prototype.herokuapp.com/01_govuk-login_sa?url={{redirect}}/auth_success&failUrl={{redirect}}/auth_fail">Sign in</a></p>
      </div>
      <!-- <p>or</p> -->
      <div class="column-half">
        <h3 class="heading-medium">Create an account</h3>
        <p>For a user who doesnt have a Governement Gateway account they will need to create an account.</p>
        <p><a class="button button-start" href="http://2fa:auth@twofactor-prototype.herokuapp.com/gg_registration/select_service?url={{redirect}}/auth_success&failUrl={{redirect}}/auth_fail">Create account </a></p>
      </div>

      <div class="column-two-thirds">
      <h2 class="heading-large">Pages in this prototype</h2>
      <ul class="list list-bullet">
        <li><a href="index">Index</a> the first page a user will see</li>
      </ul>
      </div>

    </div>
  </div>
</main>

{% endblock %}
