{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Child Benefit prorotype</h1>
      <p class="lede">This is a prototype. It is here for the team to play with ideas and test them to see how they work.</p>
      <p>It may not always work!</p>

      <h2 class="heading-large">Elevator pitch</h2>
      <p>For (target customer) who has (customer need), (product name) is a (market category) that (one key benefit). Unlike (competition), the product (unique differentiator).</p>

    </div>
  </div>
</main>

{% endblock %}
