{% extends "layout.html" %}

{% block page_title %}
Child Benefit - GOV.UK
{% endblock %}



 {% block content_with_banner %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Submit your claim</h1>
      <!-- <h2 class="heading-medium">Before you start</h2> -->
      <p class="lede">When you submit your claim the following things will happen: </p>
      <!-- <p>You'll need to tell the Child Benefit office if any of the following things happen.</p> -->
      <ul class="list list-number">
        <li>we will validate your claim. which usually takes between 7 - 14 days </li>
        <li>once your claim has been validated, if it's successful it will be paid </li>
        <li>we will write to you and tell you if your claim has been successful. This letter normally arrives after the money arrives in your bank account. </li>
      </ul>
      <button type="submit" class="button">Submit your claim</button>
    </div>
  </div>
</main>

{% endblock %}
