
{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Your child benefit details</h1>
				<p class="lede">This is the breakdown of your new child benefits policy.</p>
		
      <table class="form-group">
        <thead>
          <tr>
            <th colspan="2">Your update details breakdown</th>
          <tr>
        </thead>
        <tbody>
          <tr>
            <td>Child benefit payment for Britney:</td>
            <td>£89.70</td>
          </tr>	
          <tr>
            <td>Child benefit payment for Myla:</td>
            <td>£59.36</td>
          </tr>
          <tr>
            <td>Universal Credit</td>
            <td>£200.00</td>
          </tr>
          <tr>
            <td>Your new monthly payment</td>
            <td>£349.06</td>
          </tr>
        </tbody>
      </table>

      <p><a href="prototype">View your universal credit</a></p>
      <p><a href="/emails/your-benefits-updated">Get email confirmation</a></p>
    </div>
	</div>
</main>

{% endblock %}
