
{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Your child benefit details</h1>
      <p class="lede">Your next payment of £349.06 will be paid into your bank account ending in 1234 on 27th August.</p>	
      <h2 class="heading-medium">This is the breakdown of your new child benefits policy.</h2>
		
      <table class="form-group">
        <thead>
          <tr>
            <th>Your update details breakdown</th>
            <th class="numeric" scope="col">Monthly payment</th>
          <tr>
        </thead>
        <tbody>
          <tr>
            <td>Child benefit payment for Britney</td>
            <td class="numeric">£89.70</td>
          </tr>	
          <tr>
            <td>Child benefit payment for Myla</td>
            <td class="numeric">£59.36</td>
          </tr>
          <tr>
            <td>Universal Credit</td>
            <td class="numeric">£200.00</td>
          </tr>
          <tr>
            <td class="bold-xsmall">Total</td>
            <td class="numeric">£349.06</td>
          </tr>
        </tbody>
      </table>

      <p><a class="button" href="prototype">View your Universal Credit</a></p>
      <p><a href="/emails/your-benefits-updated">Get email confirmation</a></p>
    </div>
	</div>
</main>

{% endblock %}
