{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Please take a picture of the birth certificate and upload it</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form>
                <!-- <input class="button" type="submit" value="Upload"> -->
                <a href="check-your-details" class="button">Upload</a>
            </form>

        </div>
    </div>
</main>

{% endblock %}
