{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

 

 {% block content_with_banner %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Where was the child's birth registered?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="form-group">
                    <legend class="visuallyhidden">Where was the child's birth registered?</legend>
                    <label class="block-label" for="england">
                        England
                        <input id="england" type="radio" name="ukBirthCountry" value="england">
                    </label>
                    <label class="block-label" for="scotland">
                        Scotland
                        <input id="scotland" type="radio" name="ukBirthCountry" value="scotland">
                    </label>
                    <label class="block-label" for="wales">
                        Wales
                        <input id="wales" type="radio" name="ukBirthCountry" value="walesa">
                    </label>
                    <label class="block-label" for="northern-ireland">
                        Northern Ireland
                        <input id="northern-ireland" type="radio" name="ukBirthCountry" value="northernIreland">
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
