{% extends "layout.html" %}

{% block page_title %}
Child Benefit Prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">Where in the UK was the child's birth registered?</h1>
            <p class="lede"></p>
            <h2 class="bold-medium"></h2>

            <form action="{{form_action}}" method="post" class="form">
                <fieldset class="form-group">
                    <legend class="visuallyhidden">Where in the UK was the child's birth registered?</legend>
                    <label class="block-label" for="child-benefits-radio">
                        England
                        <input id="child-benefits-radio" type="radio" name="ukBirthCountry" value="england">
                    </label>
                    <label class="block-label" for="child-benefits-radio">
                        Scotland
                        <input id="child-benefits-radio" type="radio" name="ukBirthCountry" value="scotland">
                    </label>
                    <label class="block-label" for="child-benefits-radio">
                        Wales
                        <input id="child-benefits-radio" type="radio" name="ukBirthCountry" value="walesa">
                    </label>
                    <label class="block-label" for="child-benefits-radio">
                        Northern Ireland
                        <input id="child-benefits-radio" type="radio" name="ukBirthCountry" value="northernIreland">
                    </label>
                </fieldset>
                <div class="form-group">
                  <input type="submit" id="submit" class="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>


{% endblock %}
